{% extends 'base.html' %}

{% block content %}
    <div class="container post_new">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center card">
                <div class="card-header">
                    <h1>Saytga kirish</h1>
                </div>
                <div class="card-body">
                    <form action="" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success px-4">Kirish</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}